$first-theme-main-bg: hsl(222, 26%, 31%);
$first-theme-keypad-bg: hsl(223, 31%, 20%);
$first-theme-screen-bg: hsl(224, 36%, 15%);
$first-theme-blue-bg: hsl(225, 21%, 49%);
$first-theme-blue-shadow: hsl(224, 28%, 35%);
$first-theme-red-bg: hsl(6, 63%, 50%);
$first-theme-red-shadow: hsl(6, 70%, 34%);
$first-theme-light-bg: hsl(30, 25%, 89%);
$first-theme-light-shadow: hsl(28, 16%, 65%);
$first-theme-dark-text: hsl(221, 14%, 31%);

$white-text: hsl(0, 0, 100%);

$mobile: 376px;
$tablet: 768px;
$desktop: 1440px;

