$first-theme-main-bg: hsl(122, 26%, 31%);
$first-theme-keypad-bg: hsl(123, 31%, 20%);
$first-theme-screen-bg: hsl(124, 36%, 15%);
$first-theme-blue-bg: hsl(125, 21%, 49%);
$first-theme-blue-shadow: hsl(124, 28%, 35%);
$first-theme-red-bg: hsl(106, 63%, 50%);
$first-theme-red-shadow: hsl(106, 70%, 34%);
$first-theme-light-bg: hsl(130, 25%, 89%);
$first-theme-light-shadow: hsl(128, 16%, 65%);
$first-theme-dark-text: hsl(121, 14%, 31%);

$white-text: hsl(0, 0, 100%);

$mobile: 376px;
$tablet: 768px;
$desktop: 1440px;

